@import 'bootstrap';
@import 'bootstrap/theme';
@import 'variables';
@import 'mixins';

@import 'listr';

* {
  color: white;
  font: Helvetica;
  font-family: Helvetica;
}

.white {
  font-size: 14pt;
  text-align: center;
}

.col-md-8 {
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 50px;
}

.new-channel {
  color: rgba(66,139,202,1);
}

body {
  background-color: black;
  background-image: url('https://i.imgur.com/yKFetHs.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  // background-size: 1440px 800px;
  // margin: 0;
  // padding: 0;
  // width: auto;
  // display: compact;
  // font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  // z-index: -1; position:relative;
}
