@import 'bootstrap';
@import 'bootstrap/theme';
@import 'variables';
@import 'mixins';

@import 'listr';

* {
  font-family: Helvetica;
  font: Helvetica;
  color: white;
}

.white {
  text-align: center;
  font-size: 14pt;
}

.col-md-8 {
  background-color: rgba(125,125,125,0.5);
  padding: 50px;
  border-radius: 10px;
}

.pull-right {
  color: red;
}

// .list-header {
//   color: white;
// }
//
// a {
//   color: white;
// }

body {
background-color: black;
 // margin: 500px;
 background-image: url(https://i.imgur.com/3scHUx5.jpg);
 // background-size: 1440px 800px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 // margin: 0;
 // padding: 0;
 // width: auto;
 height: auto;
 // display: compact;
 // font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
 // z-index: -1; position:relative;
}
