<p class="white">Welcome to Bike Cammers! Use this website to find youtube channels for bike
  cammers in your city.<br> Click on the channels tab to begin. Sign up or Sign in
  if you want to add channels to the list.</p>

  <div class="background-index">
  </div>

{{outlet}}
