{{!-- <h3 class="text-center">A listing of youtube channels featuring bike cammers</h3> --}}
<br>
<p class="white">Welcome to Bike Cammers! People who video their bike rides. <br> Use this website to find youtube channels for bike
  cammers by city. Click on {{#link-to "channels"}}Bike Cammers{{/link-to}} to begin. Sign up to add a channel to the list.</p>

  <div class="background-index">
  </div>

<link rel="icon" href="/assets/favicon.ico">

{{outlet}}
