{{!-- <h3 class="text-center">A listing of youtube channels featuring bike cammers</h3> --}}
<br>
<p class="white">Welcome to Bike Cammers! Use this website to find youtube channels for bike
  cammers by city.<br> Click on the channels tab to begin. Sign up with a fake email address
  if you want to add a channel to the list.</p>

  <div class="background-index">
  </div>

<link rel="icon" href="/assets/favicon.ico">

{{outlet}}
