<label for="password-confirmation">Password Confirmation</label>
{{input type="password"
        id="password-confirmation"
        placeholder="Confirm that password (that you do NOT use on any other websites.)"
        value=password}}
