<h3>listr-list/item component</h3>
<span class="list-item">{{channel}}</span>
{{!-- <button class='btn btn-xs' {{action 'editChannel'}}>edit</button>
<button class='btn btn-xs btn-danger' {{action 'delete'}}>delete</button> --}}
