<h2>Channels route</h2>

{{#link-to 'channels/new'}}
  add a new channel
{{/link-to}}

{{!-- <form {{action 'createItem' on='submit'}}>
  {{input placeholder='New Item'
          value=newItem.content}}
  <button class='btn btn-xs' type='submit'>create item</button>
</form> --}}

{{#each model as |channel|}}
  {{listr-list channel=channel}}
{{/each}}
