

{{#link-to 'channels/new'}}
  <h3 class="pull-right">+ new channel</h3>
{{/link-to}}

{{#each model as |channel|}}
  {{listr-list  channel=channel
                editChannel='editChannel'
                delete='deleteChannel'}}
{{/each}}

{{!-- <form {{action 'createItem' on='submit'}}>
{{input placeholder='New Item'
value=newItem.content}}
<button class='btn btn-xs' type='submit'>create item</button>
</form> --}}
